version: "3.9"

services:
  pgvectordb:
    image: pgvector/pgvector:pg16
    container_name: pgvectordb
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  redis:
    image: redis/redis-stack:latest
    container_name: redis-expert-cache
    restart: unless-stopped
    ports:
      - "6379:6379"
      - "8001:8001"
    environment:
      - REDIS_ARGS=--requirepass ${REDIS_PASSWORD}
    volumes:
      - redisdata:/data
  app:
    build: .
    container_name: redis-expert-app
    restart: unless-stopped
    depends_on:
      - pgvectordb
      - redis
    ports:
      - "7860:7860"
    env_file:
      - .env
volumes:
  pgdata:
  redisdata:
